<!DOCTYPE html>
<html>
  <head>
    <title>Message-Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Message Board</h1>
    <p>Welcome to <%=  %></p>
  </body>
</html>
